################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.json

/backend/appsettings.json
/backend/.vs/
/backend/obj/
/backend/bin/
