################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#backend
/backend/obj/
/backend/bin/
/backend/.vs/
/backend/.cr/
/backend/Architecture.md
/backend/dev2ndbrain.db
/backend/dev2ndbrain.db-shm
/backend/dev2ndbrain.db-wal
/backend/appsettings.json
/backend/Dockerfile
*.nuget
*.cache
*.csproj.*
*staticwebassets.*
backend.*
*.NETCoreApp.*

#frontend
frontend/Dockerfile
frontend/.env

#root
/.vs
.env
docker-compose.yaml
