@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styling */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #14b8a6 #374151; /* Teal thumb, gray track */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #374151; /* Gray-700 from Tailwind */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #14b8a6; /* Teal-500 from Tailwind */
  border-radius: 10px;
  border: 3px solid #374151;
}

mark{
    background-color: #fef08a;
    color: #713f12;
    padding: 2px 0;
    border-radius: 3px;
}

.dark mark {
    background-color: #ca8a04;
    color: #fffbeb;
}

mark.active-match {
    background-color: #fb923c;
}

.dark mark.active-match {
    background-color: #f97316; 
}